
<div class="jumbotron">
  <h1>Send all the things!</h1>  
  <p>@Html.ActionLink("SEND", "Index", "Messenger") a message to someone you <span style="color:red;font-size:24px;">&hearts;</span></p>
</div>
