@model MessageIt.ViewModels.MessageViewModel

<h1>Send a Message</h1>

<form id="msgform" role="form">
  <div class="form-group">
    <label for="name">To Whom?</label>
    <input type="text" class="form-control" id="name" value="Bobby">
  </div>  
  <div class="form-group">
    <label for="message">Say Whaaat?</label>
    <select id="message" class="form-control">
      @foreach (var msg in Model.Messages)
      {
        <option value="@msg">@msg</option>
      }
    </select>
  </div>  
  <button type="submit" class="btn btn-success">Submit</button>
</form>

@section scripts
{
  <script type='text/javascript'>
    $("#msgform").submit(function (event) {
      /* stop form from submitting normally */
      event.preventDefault();

      var name = $('#name').val(),
          message = $('#message').val();

      $.ajax({
        method: "POST",
        url: "api/message",
        data: { name: name, message: message },
        
        // x is a FormatedMessage, so access its content field for the 
        // message that was sent
        success: function (x) {
          toastr.info("Message sent: " + x.content);
        },
        error: function (x) {
          console.log(x);
          toastr.error(x.responseJSON, ":( boooo");
        }
      });
    });
  </script>
}